@tailwind base;
@tailwind components;
@tailwind utilities;

/* Nav Bar Start .......... */
.navRoute a.active {
    font-weight: 500;
}
/* Nav Bar End ............ */

/* Header Font Start ........ */
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  /* Header Font End ........ */